body {
    font-family: gilroy;
}

header {
    overflow: hidden;
    width: 100%;
    height: 70px;
    background: rgb(21, 206, 160, 0.918);
    background: linear-gradient(131deg, rgba(21, 206, 160, 0.096) 17%, rgb(19, 18, 18)10%);
    padding: 0;
}

.bg_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background-size: cover;
}

.logo-sobre {
    padding-top: 2em;
    display: block;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.sobre-title {
    margin: 0;
    font-family: gilroy;
    text-align: center;
    font-size: 22px;
}

.sobre-description {
    background-color: white;
    color: black;
}

.description-title {
    text-align: center;
    font-size: 60px;
}

.bar {
    width: 350px;
    height: 3px;
    transform: translateY(-30px);
    width: 50%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(138, 137, 137), transparent);
}

.content-description {
    background-image: url(/img/net.jpg);
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    height: 380px;
    font-family: gilroy;
    color: rgb(246, 255, 247);
    font-size: 70px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(16, 17, 17, 0.59);
    padding-top: 80px;
}

.pp-bg {
    background-color: #000000fd;
    color: White;
    width: 500px;
    height: 140px;
    margin: 12px;
    padding: 12px;
    font-weight: bold;
    float: left;
    margin-left: 120px;
}

.icon-disabled {
    background-color: rgb(67, 238, 15);
    width: 25px;
}

.pp-title {
    color: rgb(67, 238, 15);
    font-size: 20px;
}

.company-bg {
    background-color: #070707fd;
    color: White;
    width: 500px;
    height: 142px;
    margin: 12px;
    padding: 12px;
    font-weight: bold;
    float: right;
    margin-right: 120px;
}

.icon-company {
    background-color: rgb(67, 238, 15);
    width: 25px;
}

.company-title {
    color: rgb(67, 238, 15);
    font-size: 20px;
}

.process-bg {
    margin-top: 80px;
}

.process-title {
    margin-top: 210px;
    text-align: center;
}

.process-sub-title {
    text-align: center;
}

.pp {
    color: rgb(67, 238, 15);
    font-weight: bold;
}

.technology-pp {
    background-color: #070707fd;
    color: White;
    font-weight: bold;
    width: 900px;
    height: 142px;
    margin: 12px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
}

.icon-tech {
    background-color: rgb(67, 238, 15);
    width: 25px;
}

.technology-title {
    text-align: center;
    font-size: 60px;
}

.technology-sub-title {
    color: rgb(67, 238, 15);
    font-size: 20px;
}

.hts-bg {
    background-color: #070707fd;
    color: White;
    font-weight: bold;
    width: 500px;
    height: 142px;
    margin: 12px;
    padding: 12px;
    margin-top: 90px;
    margin-left: 630px;
    padding-bottom: 25px;
}

.icon-question {
    background-color: rgb(67, 238, 15);
    width: 25px;
}

.hts-title {
    color: rgb(67, 238, 15);
    font-size: 20px;
}

.img-tech {
    margin-top: 12px;
    float: left;
    width: 350px;
    padding-left: 114px;
    filter: drop-shadow(3px 3px 2px #5858589f)
}

.smaller-bg {
    background-color: #070707fd;
    color: White;
    font-weight: bold;
    width: 901px;
    height: 142px;
    margin: 12px;
    padding: 12px;
    margin-top: 40px;
    margin-left: 228px;
    padding-bottom: 25px;
}

.icon-small {
    background-color: rgb(67, 238, 15);
    width: 25px;
}

.smaller-title {
    color: rgb(67, 238, 15);
    font-size: 20px;
}

.fast-down-bg {
    background-color: #070707fd;
    color: White;
    font-weight: bold;
    width: 401px;
    height: 142px;
    margin: 12px;
    padding: 12px;
    margin-top: 40px;
    margin-left: 228px;
    padding-bottom: 30px;
}

.icon-fast-down {
    background-color: rgb(67, 238, 15);
    width: 25px;
}

.fast-down-title {
    color: rgb(67, 238, 15);
    font-size: 20px;
}

.cloud-bg {
    background-color: #070707fd;
    color: White;
    font-weight: bold;
    width: 400px;
    height: 160px;
    margin: 12px;
    padding: 12px;
    margin-top: 40px;
    margin-left: 728px;
    transform: translateY(-224px);
}

.icon-cloud {
    background-color: rgb(67, 238, 15);
    width: 25px;
}

.cloud-title {
    color: rgb(67, 238, 15);
    font-size: 20px;
}

.champion-bg {
    background-color: rgb(78, 202, 67);
    color: White;
    font-weight: bold;
    width: 901px;
    height: 195px;
    margin: 12px;
    padding: 12px;
    margin-top: -200px;
    margin-left: 228px;
    padding-bottom: 25px;
}

.champion-title {
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.champion-sub-title {
    color: rgb(0, 0, 0);
    margin-top: -12px;
    font-size: 30px;
}

.techCrunch-info {
    margin-top: -20px;
}

.techCrunch-img {
    width: 425px;
    padding-left: 728px;
    filter: drop-shadow(3px 3px 2px #5858589f)
}

.disrupt-img {
    width: 423px;
    transform: translateY(-286px);
    padding-left: 228px;
    margin-bottom: -250px;
    filter: drop-shadow(3px 3px 2px #5858589f)
}