/** @format */

:root {
    --primary-color: #56d7b6;
    --secundary-color: #fff;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

ul,
li {
    list-style: none;
}

header {
    position: relative;
    background-color: #1a1a1a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='368' height='368' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2356D7B6' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2356D7B6'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
    height: 700px;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #56d7b6;
    /* background-image: linear-gradient(to bottom, #4FB8E3 0%, #53ED9B 90%); */
    background-image: linear-gradient(to bottom, #56D7B6 0%, #00ACD5 90%);
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 140px;
    z-index: 2;
}

.logo__img {
    width: 100px;
    height: auto;
    fill: var(--secundary-color);
}

.navbar__links {
    display: flex;
    align-items: center;
}

.navbar__link {
    position: relative;
    padding: 6px 25px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--secundary-color);
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.navbar__link::after {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--secundary-color);
    transform: scaleX(0);
    transition: all 0.3s;
}

.navbar__link:hover {
    background-color: #03030386;
    border-radius: 20px;
}

.internet {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    z-index: 2;
}

.internet__title {
    margin: 80px 0 10px;
    max-width: 700px;
    text-align: center;
    line-height: 1;
    font-size: 3.25rem;
    color: #fff;
    font-weight: 800;
}

.description {
    max-width: 500px;
    color: #ffffffbb;
    font-weight: normal;
    font-size: 1.25rem;
    text-align: center;
    font-family: Gilroy;
    padding: 0;
    margin: 0;
}

.internet__btn {
    margin-top: 50px;
    padding: 10px 15px;
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border: 2px solid #f1f1f142;
    border-radius: 20px;
}

.internet__btn:hover {
    transform: scale(0.98);
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.internet__btn:active {
    background-color: #242424;
    transform: scale(1);
    transition: none;
}

.season-list {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Gilroy;
}

#phone-img {
    display: block;
    float: right;
    height: 580px;
    max-width: 460px;
    margin: 5px;
    margin-top: -193px;
    padding-right: 8px;
    filter: drop-shadow(3px 4px 3px #585858);
}

.title-tech {
    text-align: left;
    padding-left: 42px;
    color: black;
    font-family: Gilroy;
}

.sub-title-tech {
    display: inline-block;
    color: white;
    padding: 12px;
    margin: 20px;
    max-width: 650px;
    max-height: 620px;
}

.temp {
    padding-bottom: 30px;
    transition: 0.6s ease;
}

.temp:hover {
    color: green;
}

.season:hover {
    color: green;
}

#foto-season1 {
    display: flex;
    width: 95%;
    margin: auto;
    height: 550px;
}

#code-season1 {
    display: flex;
    margin: auto;
    width: 95%;
    height: 550px;
}

.bg-season1 {
    display: none;
    color: black;
    font-family: Gilroy;
}

.bg-season1.active {
    display: block;
}

.title-season1 {
    color: black;
    text-align: center;
    font-family: Gilroy;
}

.sub-title-season1 {
    font-family: Gilroy;
    color: black;
    padding-left: 120px;
    font-size: 14px;
}

.trademark2 {
    font-size: 14px;
}

#tech {
    display: flex;
    padding-top: 27px;
    padding-right: 22px;
    padding-left: 50px;
}

#fim-season1 {
    display: flex;
    margin: auto;
    height: 600px;
}

.title-elenco {
    float: left;
    text-align: center;
    padding-top: 1px;
    color: black;
    font-family: Gilroy;
    text-align: center;
}

#richard,
#erlich,
#dinesh,
#gilfoyle,
#jared {
    display: flex;
    width: 10%;
    padding-left: 35px;
}

.title-richard {
    font-family: gilroy;
    color: black;
}

.sub-title-richard {
    color: black;
    font-family: Gilroy;
}

.footer-bg {
    background-color: #fff;
}

.social-links a {
    display: inline-block;
    width: 38px;
    top: 50%;
    left: 43%;
    margin-right: 10px;
    position: relative;
}

/* .contato {
    position: relative;
    font-family: Gilroy;
    font-size: 14px;
    float: left;
    width: 100%;
    height: 40px;
    margin: 32px 0;
    text-align: center;
} */

footer {
    position: relative;
    float: left;
    width: 100%;
    background-color: #f0f0f0;
    height: 200px;
    color: black;
    overflow: hidden;
    z-index: 1;
    display: block;
}

.p {
    text-align: center;
    padding-left: 12px;
    font-family: gilroy;
    font-size: 14px;
}

.links-season {
    text-align: center;
    margin-top: 25px;
}

.temp1 {
    text-decoration: none;
    color: rgb(17, 235, 144);
    color: white;
}

.title-season1 {
    text-align: left;
    padding-left: 40px;
    padding-top: 8px;
}

.sub-title-season1 {
    position: relative;
    color: white;
    background-color: #121212;
    max-width: 316px;
    max-height: 120px;
    padding: 12px;
    margin: 20px;
}

.title-tech {
    text-align: left;
    padding-left: 42px;
}

.sub-title-tech {
    color: white;
    background-color: #121212;
    padding: 12px;
    margin: 20px;
    padding-bottom: 27px;
}

#fim-season1 {
    margin-top: 40px;
    float: left;
    width: 1350px;
    padding-left: 20px;
}

.title-elenco {
    padding-left: 13px;
    font-size: 32px;
}

.alinhamento {
    padding-left: 9px;
}

.tripulation-bar {
    width: 100%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(138, 137, 137), transparent);
}

#richard,
#erlich,
#dinesh,
#gilfoyle,
#jared {
    padding-left: 12px;
    filter: drop-shadow(3px 3px 2px #5858589f);
}

.future-net {
    padding-left: 32px;
    text-align: left;
    font-size: 70px;
}

.fundo-future {
    background-image: url(../img/net.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 22px;
    float: left;
    width: 100%;
    height: 350px;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.59);
}

.net-span {
    font-weight: bold;
    color: rgba(14, 226, 7, 0.877);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.59);
}
